.git
.gitignore
README.md
.env.example
.editorconfig
node_modules
npm-debug.log
.vscode
.DS_Store
.idea
*.swp
*.swo
*~
.vscode/
tests/
storage/logs/*
storage/app/uploads/*
bootstrap/cache/*
.php-cs-fixer.cache
vendor/
.env
docker-compose.yml
Dockerfile
.dockerignore
